@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../assets/images/coffee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
